@keyframes moveFromLeft {
  0% {
    transform: translateX(-60rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    transform: translateX(60rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}