.heading {
  font-family: Vidaloka, sans-serif;
  font-size: 6.5rem;
  font-weight: 700;
  color: white;
}

.heading-medium {
  font-family: Roboto, sans-serif;
  font-size: 4.2rem;
  font-weight: 300;
}

.section-title {
  font-size: 4rem;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-align: center;

  @media only screen and (max-width: 50em) {
    font-size: 3rem;
  }
}